.container {
  width: 100%;
  padding-bottom: 16px;
  transition: background-color 0.2s ease-in-out;
}
.nav {
  column-gap: 16px;
  padding: 28px 180px;
  color: #b0b0b0;
  font-weight: 500;
  font-size: 18px;
}
